html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #EBF1FD;
}

aside {
  background-color: #053679;
  padding: 1rem 0rem;
}

aside a {
  padding: 0rem 2rem;
  font-weight: 600;
  background-color: inherit;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

aside a:hover {
  background-color: #05306c;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template: 1fr 2fr 2fr 4fr / 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}

main section, main article {
  border-radius: 1rem;
}

section.search{
  grid-area: 1 / 1 / span 1 /span 1;
}

section.raw-files{
  grid-area: 2 / 1 / span 1 /span 1;
}

section.templates{
  grid-area: 3 / 1 / span 1 /span 1;
}

section.recent-files{
  grid-area: 4 / 1 / span 1 /span 1;
}

article.process{
  grid-area: 1 / 2 / span 4 /span 1;
}

.section-content{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0;
  overflow-y: hidden;
  height: 100%;
}

.section-content h2{  
  color: black;
  font-weight: 600;
  margin: 0;
}

.section-content span{  
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  gap: 0.5rem;
}

.section-content span.list{  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

span.list::-webkit-scrollbar {
  display: none;
}

.card{
  border-radius: 0.75rem;
  padding: 0.5rem;
  min-height: 5rem;
  min-width: 7rem;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}

.list-item{
  border-radius: 0.75rem;
  padding: 0.5rem;
  min-height: 2.5rem;
  display: flex;
  background-color: cadetblue;
}

article.process{
  display: flex;
  flex-direction: column;
  border: 4px solid gray;
  border-radius: 0.75rem;
  padding: 0.75rem;
  background-color: #FFFFFF;
  overflow: hidden;
  gap: 1rem;
}

.file-dropzone{
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: #F5F9FC;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

section.select{
  overflow-x: hidden;
  width: 100%;
}

.template-select{
  width: 100%;
  aspect-ratio: 5 / 3;
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  background-color: #F5F9FC;
  border-radius: 0.75rem;
}

.template-select::-webkit-scrollbar {
  display: none;
}

.template-select .card{
  width: 80%;
}

.section-content span.input-name{  
  display: flex;
  flex-grow: unset;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  padding: 0;
}

span.input-name input{
  padding: 0.5rem 0.25rem;
  background-color: #DFE6F7;
  border-radius: 0.5rem;
  width: 80%;
  border: none;
}

span.input-name p{
  padding: 0;
  margin: 0;
}

button.submit{
  background-color: #D6D8FE;
  padding: 0.75rem;
  width: 100%;
  border-radius: 0.5rem;
  font-weight: 800;
  border: none;
}