.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-error-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0.25rem;
    z-index: 1000;
    color: var(--dark-gray);
    border-radius: 12px;
    border-color: 4px solid var(--yellow);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-error-modal .top-bar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
}

.file-error-modal .top-bar button.close{
    border-radius: var(--button-rounding);
    background: none;
    color: var(--white);
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.file-error-modal .content{
    padding: 0.25rem 2rem 2rem 2rem;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.file-error-modal .content h2{
    font-size: 24px;
    margin: 0px;
    color: var(--yellow);
}

.file-error-modal .content h3{
    margin: 0px;
}

.file-error-modal .content .info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.file-error-modal .bottom-bar{
    padding: 0rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.file-error-modal .bottom-bar button.ok{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: var(--button-rounding);
    border: none;
    box-shadow: var(--down-medium-shadow);
    cursor: pointer;
    width: 50%;
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
    color: var(--white);
    background-color: var(--yellow);
}