.template-card {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 35px 1fr;
  padding: var(--vertical-card-padding);
  gap: var(--vertical-card-gap);
  border-radius: var(--vertical-card-rounding);
  box-shadow: var(--own-medium-shadow);
  margin: 0px;
  background-color: var(--white);
}

.template .element {
  min-width: min-content;
  width: 100%;
}

.template-card .small-wide-card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem;
  gap: 8px;
}

.template-card .small-wide-card input.name {
  background: none;
  color: var(--dark-blue);
  font-size: var(--medium-font-size);
  font-weight: var(--bold-font-weight);
  border: none;
  padding: var(--small-wide-card-padding); 
  flex-grow: 1;
}

.template-card .small-wide-card input.name:focus {
  background: var(--light-gray);
  color: var(--navy);
  border: none;
}

.template-card .small-wide-card input.name:focus {
  color: var(--dark-blue);
}

.template-card .small-wide-card input.field {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  font-size: var(--medium-rare-font-size);
  font-weight: var(--regular-font-weight);
  border: none;
}

.template-card .small-wide-card input.field:focus {
  color: var(--dark-blue);
}

.template-card p.field-name {
  color: var(--dark-gray);
  font-size: var(--medium-font-size);
  font-weight: var(--bold-font-weight);
}
.template-card .view-box {
  height: 100%;
  width: min-content;
  overflow-y: scroll;
}

.template-card .view-box::-webkit-scrollbar {
  display: none;
}

.template-card .image {
  aspect-ratio: 210/297;
  height: 100%;
  position: relative;
}

.template-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
