article.scanner {
  display: grid;
  grid-template-columns: 6fr 2fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

section.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--main-article-padding);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

section.progress {
  padding: var(--side-article-padding);
  background-color: var(--white);
  height: 100%;
  box-shadow: var(--left-medium-shadow);
}

.selection .form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--main-article-gap);
}

section .action-group{
}

article.scanner input[type="file"] {
  display: none; /* Hide default input */
}

article.scanner .field-name {
  font-size: var(--medium-font-size);
  font-weight: var(--regular-font-weight);
  color: var(--black);
}

article.scanner .button-group {
  display: flex;
  align-items: center;
  gap: var(--button-gap);
}

article.scanner .span {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  border-color: 2px solid var(--black);
}

article.scanner .title{
    font-weight: var(--medium-font-weight);
    font-size: var(--medium-font-size);
}

article.scanner .progress{
    color: var(--black);
}

article.scanner .progress .file-list {
  display: flex;
  gap: var(--file-list-gap);
  flex-direction: column;
}

article.scanner .progress .small-wide-card {
  gap: var(--small-wide-card-gap);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--dark-gray);
  padding: var(--small-wide-card-padding);
  border-radius: var(--wide-card-rounding);
  border: 2px solid var(--light-gray);
  color: var(--black);
}

article.scanner .small-wide-card .file-name {
  width: max-content;
  max-width: 25ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article.scanner .small-wide-card .file-status {
  height: 15px;
  aspect-ratio: 1/1;
  border-radius: 10000px;
}

article.scanner .small-wide-card button.remove {
  background-color: transparent;
  color: var(--black);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

article.scanner .file-status.pending {
  background-color: var(--dark-gray);
}

article.scanner .file-status.running {
  background-color: var(--yellow);
}

article.scanner .file-status.success {
  background-color: var(--green);
}

article.scanner .file-status.error {
  background-color: var(--red);
}

article.scanner input[type="text"] {
  padding: var(--button-padding-x) var(--button-padding-y);
  border-radius: var(--button-rounding);
  border: 2px solid var(--dark-blue);
  background-color: var(--white);
  min-width: 45ch;
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
  color: var(--black);
}

button.cancel{
  color:var(--red);
  border: 2px solid var(--red);
  background-color: inherit;
}

button.submit{
  color: var(--white);
  border: 2px solid var(--green);
  background-color: var(--green);
}

.icon-button.file-trigger{
  color: var(--white);
  border: none;
  background-color: var(--dark-blue)
}

.icon-button.file-trigger:hover{
  background-color: var(--navy)
}

button.cancel:hover{
  background-color: var(--red-opacity-20);
}

button.submit:hover{
  border: 2px solid var(--dark-green);
  background-color: var(--dark-green);
}

button.disabled{
  color: var(--dark-gray);
  border: 2px solid var(--dark-gray);
  background-color: var(--light-gray);
  cursor: not-allowed;
}

button.success{
  color: var(--white);
  border: 2px solid var(--green);
  background-color: var(--green);
  cursor: not-allowed;
}