article.scanner {
  display: grid;
  grid-template-columns: 6fr 2fr;
  height: 100%;
}

section.selection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--main-article-padding-y) var(--main-article-padding-x);
  height: 100%;
  gap: var(--main-article-gap);
}

section.progress {
  padding: var(--side-article-padding-y) var(--side-article-padding-x);
  background-color: var(--white);
  height: 100%;
  box-shadow: var(--left-medium-shadow);
}

article.scanner input[type="file"] {
  display: none; /* Hide default input */
}

article.scanner .file-label {
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: var(--button-rounding);
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
  box-shadow: var(--down-medium-shadow);
  border: none;
}

article.scanner .file-label:hover {
  background-color: var(--navy);
  cursor: pointer;
}

article.scanner .field-card {
  padding: var(--field-card-padding);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.scanner .button-group {
  display: flex;
  align-items: center;
  gap: var(--button-gap);
}

article.scanner .icon-button{
  background-color: var(--dark-blue);
  border: none;
  border-radius: var(--button-rounding);
  padding: var(--button-padding-y) var(--button-padding-x);
  box-shadow: var(--down-medium-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-weight: var(--medium-font-weight);
  font-size: var(--medium-font-size);
}

article.scanner .top-space{
  margin-top: 1rem;
}

article.scanner .span {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  border-color: 2px solid var(--black);
}

article.scanner .title{
    font-weight: var(--medium-font-weight);
    font-size: var(--medium-font-size);
}

article.scanner .progress{
    color: var(--black);
}

article.scanner .progress .file-list {
  display: flex;
  gap: var(--template-tab-gap);
  flex-direction: column;
}

article.scanner .progress .small-wide-card {
  gap: var(--small-wide-card-gap);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--dark-gray);
  padding: var(--small-wide-card-padding);
  color: var(--black);
}

article.scanner .small-wide-card .file-name {
  width: max-content;
  max-width: 25ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article.scanner .small-wide-card .file-status {
  height: 15px;
  aspect-ratio: 1/1;
  border-radius: 10000px;
}

article.scanner .file-status.pending {
  background-color: var(--dark-gray);
}

article.scanner .file-status.running {
  background-color: var(--yellow);
}

article.scanner .file-status.success {
  background-color: var(--green);
}

article.scanner .file-status.error {
  background-color: var(--red);
}

input[type="text"] {
  padding: var(--button-padding-x) var(--button-padding-y);
  border-radius: var(--button-rounding);
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  background-color: var(--white);
}